/*--------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/

.single-post {
	article.post {
		margin-bottom: 50px;
		padding-bottom: 45px;
		border-bottom: 1px solid $color__background-hr;
	}
	.post>.entry {
		&-header {
			margin-bottom: 35px;
		}
		&-content {
			@include media-breakpoint-up(sm) {
				@include font-size(18/16);
			}
		}
		&-footer {
			.entry-meta:not(:empty) {
				margin-top: 13px;
			}
		}
	}
	.entry {
		&-header {
			.tags-links {
				a {
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
		&-footer {
			.tags-links {
				a {
					display: inline-block;
					margin-left: 5px;
					margin-bottom: 5px;
					padding: 6px 10px;
					@include border-radius;
					border: 1px solid $color__background-hr;
					&:hover {
						background-color: $color__background-hr;
					}
				}
			}
		}
		&-title {
			margin-top: 0;
		}
	}
	.post-thumbnail {
		margin-bottom: 15px;
	}
	.overlay-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-size: cover;
		background-position: center;
	}
	blockquote:not(.post-format-quote) {
		border-top: 3px solid $color__background-hr;
		border-bottom: 3px solid $color__background-hr;
		text-align: center;
		padding: 30px 10%;
		&:before,
		&:after {
			content: none;
		}
		cite {
			margin-top: 20px;
		}
	}
}

/*--------------------------------------------------------------
### Post Template
--------------------------------------------------------------*/

.post-template {
	//single-layout-2
	&-single-layout-2 {
		&.post-template .site-content {
			margin-top: 0;
		}

		.single-header-2 {
			margin-top: 40px;
			margin-bottom: 25px;
			text-align: center;
			@include media-breakpoint-up(sm) {
				margin-bottom: 55px;
			}
		}
		.post-thumbnail {
			margin-bottom: 25px;
			@include media-breakpoint-up(sm) {
				margin-bottom: 55px;
			}
			.size-zetter-thumb-xl {
				@include border-radius(0);
				object-fit: cover;
				width: 100%;
				max-width: none;
				max-height: 550px;
			}
		}
	} //single-layout-3
	&-single-layout-3 {
		&.post-template .site-content {
			margin-top: 0;
		}

		.single-header-3 {
			position: relative;
			margin-bottom: 35px;
			padding-top: 35px;
			z-index: 1;
			&.invert {
				padding: 50px 0 45px;
				@include media-breakpoint-up(sm) {
					padding: 80px 0 75px;
				}
				@include media-breakpoint-up(md) {
					padding: 130px 0 115px;
				}
				.entry-title,
				p {
					text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
				}
			}
			.cat-links {
				margin-bottom: 30px;
			}
			.entry-title {
				margin-bottom: 10px;
			}
			.entry-header-bottom {
				margin-top: 40px;
				@include space-between-content;
				align-items: center;
			}
			.post-author {
				display: flex;
				align-items: center;
				&__avatar {
					margin-right: 20px;
				}
			}
			.comments-button {
				background: none;
			}
			p {
				@include media-breakpoint-up(sm) {
					@include font-size(18/16);
				}
			}
			.overlay-thumbnail {
				&:before {
					content: '';
					@include overlay-position;
					background-color: rgba(0, 0, 0, .5);
				}
			}
		}
	} //single-layout-4
	&-single-layout-4 {
		&.post-template .site-content {
			margin-top: 0;
		}

		.site-content {
			&__wrap {
				position: relative;
			}
		}
		.header-post-thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			img {
				width: 100%;
				object-fit: cover;
				max-width: none;
				max-height: 1080px;
			}
		}
		.site-main {
			padding: 20px;
			@include media-breakpoint-up(sm) {
				padding: 65px 100px;
			}
			background-color: $color__white;
		}
		.single-header-4 {
			position: relative;
			padding-top: 30px;
			text-align: center;
			.overlay-thumbnail {
				bottom: -100px;
				@include media-breakpoint-up(sm) {
					bottom: -150px;
				}
				@include media-breakpoint-up(md) {
					bottom: -200px;
				}
				@include media-breakpoint-up(lg) {
					bottom: -270px;
				}
				@include media-breakpoint-up(xl) {
					bottom: -430px;
				}
			}
			&.invert {
				padding: 50px 0 35px;
				@include media-breakpoint-up(sm) {
					padding: 103px 0 95px;
				}
				.entry-title,
				p {
					text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
				}
			}
			.cat-links {
				margin-bottom: 30px;
			}
			.post-author {
				margin-top: 32px;
				&__avatar {
					margin-bottom: 2px;
				}
			}
			.entry-meta:not(:empty) {
				@include grid-indent(12px);
				margin-top: 27px;
			}
			p {
				@include media-breakpoint-up(sm) {
					@include font-size(18/16);
				}
			}
			i {
				@include font-size(12/16);
			}
		}
	} //single-layout-5
	&-single-layout-5 {
		.single-header-5 {
			@include media-breakpoint-down(sm) {
				text-align: center;
			}
			&.invert {
				.entry-header {
					padding: 25px;
					@include media-breakpoint-up(md) {
						padding: 40px;
						min-height: 730px;
					}
				}
			}
			.entry {
				&-header {
					padding-top: 20px;
					margin-bottom: 35px;
					position: relative;
					&-top {
						@include media-breakpoint-up(md) {
							@include space-between-content();
						}
					}
					p {
						@include media-breakpoint-up(sm) {
							@include font-size(18/16);
						}
					}
				}
				&-header p,
				&-title {
					@include media-breakpoint-up(md) {
						width: 70%;
					}
				}
				&-meta:not(:empty) {
					margin-top: 5px;
					> * {
						margin-bottom: 30px;
					}
				}
			}
			.comments-link {
				vertical-align: baseline;
			}
			.post-author {
				@include media-breakpoint-up(md) {
					display: flex;
					align-items: center;
					&__avatar {
						margin-left: 15px;
					}
					&__content {
						margin-bottom: 5px;
						text-align: right;
					}
				}
				@include media-breakpoint-down(sm) {
					margin-bottom: 15px;
				}
			}
		}
	} //single-layout-6
	&-single-layout-6 {
		@include media-breakpoint-down(sm) {
			#author-block {
				margin-bottom: 50px;
			}
		}
		.single-header-6 {
			.cat-links {
				margin-bottom: 18px;
				&.btn-style {
					a {
						padding: 3px 8px;
						@include border-radius(0);
					}
				}
			}
		}
		.post-author-bio {
			display: block;
			text-align: center;
			margin: 0 5% 20px;
			padding: 0;
			border: none;
		}
		.post-author {
			&__avatar {
				margin-bottom: 15px;
			}
			&__avatar,
			&__content {
				padding: 0;
			}
		}
		.posted-on {
			text-align: center;
		}
		&.post-template .site-content {
			margin-top: 0;
		}
		.site-content {
			&__wrap {
				margin-top: 50px;
			}
		}
	} //single-layout-7
	&-single-layout-7 {
		&.post-template .site-content {
			margin-top: 0;
		}

		.single-header-7 {
			position: relative;
			padding: 30px 0;
			margin-bottom: 60px;
			text-align: center;
			.entry {
				&-header {
					&-top:not(:empty) {
						@include media-breakpoint-up(sm) {
							@include space-between-content;
						}
						.cat-links,
						.posted-on {
							margin-bottom: 20px;
						}
					}
					&-bottom {
						.entry-meta {
							@include grid-indent(12px);
						}
					}
				}
				&-title {
					margin-bottom: 60px;
				}
			}
			.post-author-bio {
				display: block;
				text-align: center;
				margin: 0 0 20px;
				padding: 0;
				border: none;
			}
			.post-author {
				&__avatar {
					margin-bottom: 15px;
				}
				&__avatar,
				&__content {
					padding: 0;
				}
			}
			i {
				@include font-size(12/16);
			}
		}
	} //single-layout-8
	&-single-layout-8 {
		&.post-template .site-content {
			margin-top: 0;
		}
		.single-header-8 {
			margin-bottom: 60px;
			padding: 60px 0 0;
			text-align: center;
			@include media-breakpoint-up(md) {
				padding: 60px 0 30px;
			}
			@include media-breakpoint-up(lg) {
				padding: 60px 0;
			}
			&.with_author_block {
				margin-top: 120px;
				.post-author-bio {
					margin-top: -130px;
				}
			}
			.post-author-bio {
				display: block;
				text-align: center;
				margin: 0 0 32px;
				padding: 0;
				border: none;
			}
			.post-author {
				&__avatar {
					margin-bottom: 15px;
				}
				&__avatar,
				&__content {
					padding: 0;
				}
			}
			.entry {
				&-title {
					margin-top: 30px;
					margin-bottom: 30px;
					text-transform: uppercase;
				}
				&-meta:not(:empty) {
					margin-top: 35px;
					margin-bottom: 50px;
				}
			}
		}
	} //single-layout-9
	&-single-layout-9 {
		&.post-template .site-content {
			margin-top: 0;
		}
		.single-header-9 {
			margin-top: 20px;
			margin-bottom: 30px;
			text-align: center;
			@include media-breakpoint-up(sm) {
				margin-top: 40px;
				margin-bottom: 60px;
			}
			.post-thumbnail {
				margin-top: 25px;
				margin-bottom: 0;
				@include media-breakpoint-up(sm) {
					margin-top: 55px;
				}
				img {
					@include border-radius(0);
					object-fit: cover;
					width: 100%;
					max-width: none;
					max-height: 730px;
				}
			}
		}
		.post-author-bio {
			margin-top: 0;
			margin-bottom: 30px;
			padding: 0;
			border: none;
		}
	} //single-layout-10
	&-single-layout-10 {
		&.post-template .site-content {
			margin-top: 0;
		}
		.single-header-10 {
			.entry {
				&-header {
					@include border-radius;
					padding: 32px 40px 25px;
					margin-top: 30px;
					margin-bottom: 55px;
					@include media-breakpoint-down(xs) {
						text-align: center;
					}
					&-bottom {
						@include media-breakpoint-up(sm) {
							@include space-between-content;
							align-items: flex-end;
						}
					}
					.post-author,
					.cat-links,
					.posted-on {
						padding: 0 18px 15px 0;
						display: inline-block;
					}
					.post-author {
						@include media-breakpoint-down(sm) {
							display: block;
						}
					}
				}
				&-title {
					max-width: 700px;
					margin-bottom: 17px;
				}
			}
			&.has-post-thumbnail {
				.entry-header {
					margin-top: -100px;
				}
			}
			.post-author {
				&__avatar {
					margin-right: 12px;
					img {
						vertical-align: middle;
					}
				}
			}
			.post-thumbnail {
				margin-bottom: 0;
				img {
					@include border-radius(0);
					object-fit: cover;
					width: 100%;
					max-width: none;
					max-height: 730px;
				}
			}
			.comments-button {
				background: none;
				margin-bottom: 15px;
			}
		}
	}
}